<h1>Здравствуйте <%= @user.name %></h1>

<p>
Вы запросили восстановление пароля!
Для установки нового пароля пройдите по ссылке:
<%= link_to 'Востановить пароль!', @edit_password_reset_url %>

  Если вы не давали запрос на восстановление пароль, просто проигнорируйте данное сообщение.
</p>


