<br>
<br>
<hr>
<p style="color: red">
<b>*</b>&nbsp; По всем вопросам касаемым работы системы электронных закупок и проведения электронных торгов, просим обращаться по электронному адресу:
  <br>
  <a href="mailto:tenders@tis-ruda.com">tenders@tis-ruda.com</a>
</p>
<p style="color: red">
  <b>**</b>&nbsp; Если вы считаете, что в ходе проведения торгов, предложение вашей компании было необоснованно отклонено, снято с конкурса или проигнорировано, вы можете АРГУМЕНТИРОВАНО изложить ситуацию директору ООО "ТИС-РУДА" по электронному адресу: <a href="mailto:claim@tis-ruda.com">claim@tis-ruda.com</a>
</p>